.signup-container {
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    margin: auto;
    gap: 5px;
    width: 90%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fade_ 2s;
    border-radius: 10px;

}

.left-image {
    flex: 1;
    background: url('../../../public/back-auth.png') no-repeat center center;
    background-size: cover;
    animation: fade_ 2s;
    border-radius: 10px;
}

.right-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.right-content h2 span {
    color: var(--secondcolor);
}

.form-title {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.social-signup {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.social-button i {
    padding: 2px;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48%;
    padding: 10px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.social-button:hover {
    background-color: #e0e0e0;
}

.social-icon {
    margin-right: 10px;
}

.seprator {
    text-align: center;
    margin: 20px 0;
    color: #555;
}

.seprator span {
    background-color: #fff;
    padding: 0 10px;
}

.signup-form {
    width: 100%;
}

.input-wrapper {
    position: relative;
    margin-bottom: 20px;
}

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-wrapper i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
}

.forget-pass-link {
    display: block;
    margin-bottom: 20px;
    color: var(--secondcolor);
    text-decoration: none;
    border-radius: 10px;
}

.forget-pass-link:hover {
    text-decoration: underline;
}

.signup-button {
    width: 100%;
    padding: 10px;
    background-color: var(--secondcolor);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.signup-button:hover {
    background-color: var(--fourthcolor);
}

.signup-text {
    margin-top: 20px;
    color: #555;
}

.signup-text a {
    color: var(--secondcolor);
    text-decoration: none;
}

.signup-text a:hover {
    text-decoration: underline;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .signup-container {
        flex-direction: column;
    }

    .left-image {
        display: none;
    }

    .right-content {
        flex: none;
        width: 100%;
        padding: 20px;
    }

    .social-signup {
        flex-direction: column;
    }

    .social-button {
        width: 100%;
        margin-bottom: 10px;
    }

    .social-button:last-child {
        margin-bottom: 0;
    }
}