.cour-display {
    margin-top: 30px;
}

.cour-display-list {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 20px;
    margin: 25px
}

/****************** image ***********/
.cour-item-image {
    width: 310px;
    height: 215px;
    border-radius: 10px;
}

.cour-item-img-container {
    position: relative;
}

.course-details-desc {
    position: absolute;
    top: 100px;
    left: 150px;
    transform: translate(-47%, -50%);
    width: 80%;
    background: rgba(0, 0, 0, 0.7);
    /* color: white; */
    text-align: center;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

.course-details-desc .view {
    color: var(--secondcolor);
    margin-top: 20px;
}

.cour-item-img-container:hover img {
    opacity: .6;
}

.cour-item-img-container:hover .course-details-desc {
    opacity: 1;
}

/**************** info **************/
.cour-item-info h2 {
    margin-bottom: 10px;
}

.cour-item {
    background: linear-gradient(to top, #848484 0%, #ffffff 1%);
    display: flex;
    gap: 10px;
}

.cour-item-icons {
    gap: 5px;
}

.cour-item-icons .fav-icon,
.cour-item-icons .shp-icon {
    width: 40px;
    padding: 5px;
}

.cour-item-icons button {
    background: none;
    border: none;
    cursor: pointer;
}

.cour-item-desc {
    color: var(--fourthcolor);
}

.cour-item-price {
    font-size: 20px;
    font-weight: bolder;
}