.cart {
    width: 80%;
    margin: auto;
    text-align: center;
}

.cart h2 {
    font-size: 35px;
    color: var(--secondcolor);
    font-weight: bold;
    margin: 30px 0px;
    text-align: center;
}

.cart h2 span {
    color: var(--firstcolor);
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 30px;
}

.cart-table th,
.cart-table td {
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 18px;
}

.cart-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.item-image {
    max-width: 150px;
    height: auto;
    border-radius: 8px;
}

.btn-c {
    padding: 5px 10px;
    border: none;
    background-color: #ff4d4d;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 1s ease-in-out;
}

.cart-total {
    margin-bottom: 10px;
}

.btn-c:hover {
    background-color: #ff1a1a;
}

.cart-total h3 {
    font-size: 20px;
    margin-top: 20px;
}

.cart-total .btn-c {
    background-color: rgb(4, 88, 60);
    width: 250px;
    height: auto;
    font-size: 18px;
}