.course-item {
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 20px #00000015;
    transition: 0.3s;
    animation: fade 0.5s;
}

.general {
    perspective: 500px;
}

.course-item {
    transition: all 1s;
}

.course-item .course-img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.course-item:hover {
    /* width: 102%; */
    transform: translateZ(10px);
    box-shadow: 0 4px 8px 0 #cacaca, 0 2px 10px 0 var(--secondcolor);
}

.course-info {
    padding: 20px;
}

.course-ratting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.course-ratting p {
    font-size: 20px;
    font-weight: bold;
}

.course-ratting img {
    width: 80px;
}

.course-info .course-desc {
    color: var(--fourthcolor);
    margin-bottom: 5px;
}

.course-info .course-price {
    font-size: 20px;
    font-weight: bolder;
}